.faq{
    .container{
        @include pad(){
            max-width: 690px;
            padding: 60px 0 72px;
        }
        @include mobile(){
            max-width: 345px;
            padding: 28px 0 36px;
        }
    }
    h2{
        font-size: 48px;
        line-height: 80px;
        font-weight: bold;
        border-left:8px solid $primary;
        margin-bottom: 60px;
        @include pad(){
            border-left: 4px solid $primary;
            margin-bottom: 40px;
            line-height: 67px;
        }
        @include mobile(){
            font-size: 28px;
            margin-bottom: 24px;
            padding-left: 8px;
            line-height: 40px;
        }
    }
    h3{
        font-size: 32px;
        line-height: 63px;
        font-weight: bold;
        margin-bottom: 36px;
        @include pad(){
            margin-bottom: 32px;
        }
        @include mobile(){
            font-weight: normal;
            margin-bottom: 24px;
            font-size: 20px;
        }
    }
    .faq-items h4{
        font-size: 20px;
        line-height: 23px;
        font-weight: bold;
        @include mobile(){
            margin-bottom: 8px;
        }
    }
    .faq-items p{
        padding-left: 95px;
        line-height: 24px;
        @include pad(){
            padding-left: 60px;
        }
        @include mobile(){
            padding: 0;
        }
    }
    .faq-items li{
        @include pad(){
            margin-bottom: 24px;
        }
        @include mobile(){
            margin-bottom: 20px;
        }
    }
}