.header{
    background-color: $layoutColor;
    padding: 30px 88px;
    @include pad(){
        padding: 30px 39px;
    }
    @include mobile(){
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .logo{
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        background-image: url(../images/logo.png);
        background-size: cover;
        width: 80px;
        height: 49px;
        @include mobile(){
            width: 48px;
            height: 30px;
            margin: 10px 0;
        }
    }
    .menu{
        @include mobile(){
            flex-wrap: wrap;
            width: 100%;
        }
        li{
            @include mobile(){
                width: 50%;
                text-align: center;
                border: 1px solid #fff;
            }
        }
        a{
            display: block;
            font-size: $font-m;
            line-height: 29px;
            padding-left: 64px;
            &:hover{
                color: rgba(255,255,255,.5);
            }
            @include pad (){
                padding-left: 40px;
            }
            @include mobile(){
                padding: 8px 0;
            }
        }
    }
}
.footer{
    background-color: $layoutColor;
    padding: 32px 0 40px 0;
    @include pad(){
        padding: 32px 0;
    }
    @include mobile (){
        padding: 24px 0;
    }
    .container{
        @include pad(){
            max-width: 720px;
            margin: 0 auto;
        }
        @include mobile(){
            max-width: 375px;
            margin: 0 auto;
        }
    }
    .footer-menu{
        margin-bottom: 36px;
        @include pad(){
            margin-bottom: 24px;
        }
        @include mobile(){
            display: none;
        }
        a{
            margin-right: 48px;
            &:hover{
                color: rgba(255,255,255,.5);
            }
            @include pad(){
                margin-right: 40px;
            }
        }
    }
    .footer-contact{
        img{
            display: block;
        }
        p:hover{
            color: rgba(255,255,255,.5);
        }
        a:first-child{
            margin-bottom: 16px;
            img{
                margin-right: 22px;
                width: 44px;
                height: 44px;
                @include pad(){
                    width: 18px;
                    height: 18px;
                    margin-right: 11px;
                }
                @include mobile(){
                    width: 15px;
                    height: 15px;
                    margin-right: 6px;
                }
            }
            p{
                font-size: 36px;
                line-height: 54px;
                @include pad(){
                    font-size: 20px;
                    line-height: 30px;
                }
                @include mobile(){
                    font-size: 16px;
                }
            }
        }
        :last-child{
            img{
                width: 40px;
                margin-right: 20px;
                @include pad(){
                    width: 20px;
                    height: 16px;
                    margin-right: 10px;
                }
                @include mobile(){
                    width: 17px;
                    height: 14px;
                    margin-right: 7px;
                }
            }
            p{
                font-size: 36px;
                line-height: 54px;
                @include pad(){
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
        
    }
    .footer-line{
        @include pad(){
            margin: 20px 0 24px 0;
        }
        @include mobile(){
            margin: 24px 0 16px 0;
        }
    }
    .footer-icon{
        li{
            @include pad(){
                margin-left: 24px;
            }
        }
        li:hover{
            opacity: .5;
        }
        img{
            @include pad(){
                min-width: 24px;
            }
        }
    }
    .copyright{
        .trems{
            a:hover{
                opacity: .5;
            }
            li:first-child{
                margin-right: 24px;
            }
            @include mobile(){
                flex-direction: column;
                font-size: 14px;
                li:first-child{
                    margin-bottom: 8px;
                }
                a{
                    display: block;
                    line-height: 20px;
                }
            }
        }
        @include mobile(){
            flex-direction: column;
            p{
                margin-bottom: 8px;
                font-size: 14px;
            }
        }
    }
}