//color
$layoutColor: #AA0601;
$primary: #9F1213;
$primary-100: #650300;
$secondary: #495057;
$secondary-100: #00000020;
$success: #AA06010D;
$info: #CED4DA;
$info-100: #DEE2E6;
$info-900: #707070;
$dark: #212529;
$pink: #AA06010D;

//文字大小
$font-m: 20px;